<p>
weather-comp works!
</p>
<p>
  <link rel= "stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
welcome to weather application
</p>

<div class="panel_1">city 1
  <input type=text>
 <button class="btn btn-primary" >check weather</button>
</div>
  <div class="panel_2">city 2
    <input type=text>
 <button class="btn btn-primary" >check weather</button>
  </div>
  <div class="panel_3">city 3
    <input type=text>
 <button class="btn btn-primary" >check weather</button>
  </div>
  <div class="panel_4">city 4
    <input type=text>
 <button class="btn btn-primary" >check weather</button>
  </div>
  <div class="panel_5">city 5
    <input type=text>
 <button class="btn btn-primary" >check weather</button>
  </div>
  <div class="panel_6">city 6
    <input type=text>
 <button class="btn btn-primary" >check weather</button>
  </div>
  <div class="panel_7">city 7
    <input type=text>
 <button class="btn btn-primary" >check weather</button>
  </div>
  <div class="panel_8">city 8
    <input type=text>
 <button class="btn btn-primary" >check weather</button>
  </div>
  <div class="panel_9">city 9
    <input type=text>
 <button class="btn btn-primary" >check weather</button>
 </div>
